<div id="link-up-teacher" ng-controller="LinkUpController as vm">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#!/link-up-teachers">Profesores en Vinculación</a></li>
            <li>
                <span class="show-for-sr">Current: </span> Profesor {{vm.teacher.name}}
            </li>
        </ul>
        <h1>Vinculación <small>{{vm.teacher.id}}</small></h1>
    </div>
    <div class="row">
        <div class="callout">
            <div class="row">
                <div class="large-3 columns">
                    <p>
                        <i class="fa fa-{{vm.teacher.validData ? 'check-circle' : 'times-circle'}}" aria-hidden="true"></i>                        Datos validos
                    </p>
                    <p><i class="fa fa-{{vm.teacher.acceptGameRules ? 'check-circle' : 'times-circle'}}" aria-hidden="true"></i>                        Reglas de juego aceptadas</p>
                </div>
                <div class="large-3 columns">
                    <p><i class="fa fa-{{vm.teacher.exam.passExam ? 'check-circle' : 'times-circle'}}" aria-hidden="true"></i>                        Exámen aprobado</p>
                    <p><i class="fa fa-{{vm.teacher.cultureForm ? 'check-circle' : 'times-circle'}}" aria-hidden="true"></i>                        Formulario de cultura valido</p>
                </div>
                <div class="large-3 columns">
                    <p><i class="fa fa-{{vm.teacher.courses.length > 0 ? 'check-circle' : 'times-circle'}}" aria-hidden="true"></i>                        Materias escogidas</p>
                    <p><i class="fa fa-check-circle" aria-hidden="true"></i> Horario valido</p>
                </div>
                <div class="large-3 columns">
                    <button class="button expanded success" ng-disabled="!vm.canLinkUpTeacher()">
                        Vincular Profesor
                    </button>
                    <button class="button expanded alert">
                        Rechazar Profesor
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            <div class="card">
                <div class="card-divider">
                    <h4>{{vm.teacher.name}} {{vm.teacher.lastName}}</h4>
                </div>
                <div class="card-section">
                    <img src="assets/img/generic/rectangle-1.jpg" imageonload="'images/teacherProfile/linkUp/profile.svg'">
                </div>
                <div class="card-section">
                    <a href="{{cloudFront.domainName + '/teachers/curriculum/' + vm.teacher.id + '.docx'}}" class="button expanded"><i class="fa fa-download" aria-hidden="true"></i> Hoja de Vida</a>
                    <a href="" class="button expanded" ng-click="vm.changeValidData()">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        Cambiar Datos Validos
                    </a>
                    <a href="" class="button expanded" ng-click="vm.openSelectInterviewModal()" ng-if="vm.teacher.interview === undefined">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Entrevista
                    </a>
                    <a href="" class="button expanded" ng-click="vm.changeCultureForm()" ng-if="!vm.teacher.cultureForm">
                        <i class="fa fa-check-square" aria-hidden="true"></i> 
                        Cultura Tu Profe
                    </a>
                    <a href="" class="button expanded"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Inducción</a>
                </div>
            </div>
        </div>
        <div class="large-5 columns">
            <div class="card">
                <div class="card-divider">
                    <h4>
                        Datos de Cuenta
                    </h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-12 columns">
                            <strong>Nombre: </strong>
                            <p>{{vm.teacher.name}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Apellido: </strong>
                            <p>{{vm.teacher.lastName}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Correo electrónico: </strong>
                            <p>{{vm.teacher.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-divider">
                    <h4>
                        Datos Personales
                    </h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-12 columns">
                            <strong>Cédula: </strong>
                            <p>{{vm.teacher.identification}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Celular: </strong>
                            <p>{{vm.teacher.cellPhone}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Teléfono Fijo: </strong>
                            <p>{{vm.teacher.phone}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Ciudad: </strong>
                            <p>{{vm.teacher.city.name}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Barrio: </strong>
                            <p>{{vm.teacher.geoInfo.neighborhood}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Dirección: </strong>
                            <p>{{vm.teacher.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-divider">
                    <h4>
                        Datos Académicos
                    </h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-12 columns">
                            <strong>Universidad: </strong>
                            <p>{{vm.teacher.university.name}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Dirección Universidad: </strong>
                            <p>{{vm.teacher.university.address}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Profesión: </strong>
                            <p>{{vm.teacher.profession.name}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Semestre: </strong>
                            <p>{{vm.teacher.semester}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Fecha de Grado: </strong>
                            <p>{{vm.teacher.gradeDate | date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-5 columns">
            <div id="courses" class="card">
                <div class="card-divider">
                    <h4>
                        Materias
                    </h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-12 columns">
                            <span ng-repeat="course in vm.teacher.courses" class="label secondary">{{course.courseName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-divider">
                    <h4>
                        Datos Financieros
                    </h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-12 columns">
                            <strong>Banco: </strong>
                            <p>{{vm.teacher.bankAccount.bank}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Número de Cuenta: </strong>
                            <p>{{vm.teacher.bankAccount.number}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Tipo de Cuenta: </strong>
                            <p>{{vm.teacher.bankAccount.type}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Nombre titular de la cuenta: </strong>
                            <p>{{vm.teacher.bankAccount.holderName}}</p>
                        </div>
                        <div class="large-12 columns">
                            <strong>Cedula titular de la cuenta: </strong>
                            <p>{{vm.teacher.bankAccount.holderIdentification}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="profileDescription">
                <div class="card-divider">
                    <h4>
                        Descripción de Perfil
                    </h4>
                </div>
                <div class="card-section">
                    <div class="row">
                        <div class="large-12 columns">
                            <div ng-if="!vm.editProfileData">
                                <p>
                                    {{vm.teacher.profileDescription}}
                                </p>
                                <button class="button hollow" ng-click="vm.editProfileData = true">
                                    Editar
                                </button>
                            </div>
                            <form name="editProfileDescription" ng-if="vm.editProfileData" ng-submit="vm.editProfileDescription()" promise-btn novalidate>
                                <textarea name="profileDescription" id="profileDescription" rows="10" maxlength="500" ng-model="vm.teacher.profileDescription"
                                    required></textarea>
                                <button class="button" type="submit" ng-disabled="editProfileDescription.$invalid">
                                    Guardar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>