<div id="teachers" ng-controller="TeachersController as vm">
    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li>
                    <span class="show-for-sr">Current: </span> Profesores
                </li>
            </ul>
            <hr>
            <h1>Profesores</h1>
            <table>
                <thead>
                    <tr>                        
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Estado</th>                                                
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="teacher in vm.teachers">
                        <td><a href="" ng-click="vm.selectTeacher(teacher)">{{teacher.name + ' ' + teacher.lastName}}</a></td>                        
                        <td>{{teacher.email}}</td>
                        <td>{{teacher.cellPhone}}</td>
                        <td>{{teacher.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>