<div id="courses" ng-controller="CoursesController as vm">
    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li>
                    <span class="show-for-sr">Current: </span> Materias
                </li>
            </ul>
            <hr>
            <h1>Materias</h1>
            <a class="button" href="#!/courses/create">
                Crear Materia
            </a>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dificultad</th>                    
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in vm.courses">
                        <td><a href="" ng-click="vm.selectCourse(course)">{{course.courseName}}</a></td>                    
                        <td>{{course.difficulty}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>