<div id="create-course" ng-controller="CourseCreateController as vm">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#!/courses">Materias</a></li>
            <li>
                <span class="show-for-sr">Current: </span> Crear materia
            </li>
        </ul>
        <h1>Crear Materia</h1>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form name="createCourse">
                <div class="row">
                    <div class="large-12 columns">
                        <label>Nombre
                            <input id="courseName" name="courseName" type="text" ng-model="vm.course.courseName" required>
                            <p class="error" ng-if="createCourse.courseName.$invalid && createCourse.courseName.$dirty">
                                Por favor indique el nombre de la materia.
                            </p>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Dificultad
                            <select name="difficulty" id="difficulty"
                                ng-options="difficulty.label for difficulty in vm.courseDifficulties track by difficulty.id"
                                ng-model="vm.course.difficulty" required></select>
                        </label>
                    </div>
                </div>

                <button class="button" ng-disabled="createCourse.$invalid" ng-click="vm.create()">
                    Crear
                </button>
            </form>
        </div>
    </div>
</div>