<div id="detail-course" ng-controller="CourseDetailController as vm">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#!/courses">Cursos</a></li>
            <li>
                <span class="show-for-sr">Current: </span> Detalle Cursos
            </li>
        </ul>
        <h1>Detalle Curso <small>{{vm.course.id}}</small></h1>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="callout">
                <div class="row">
                    <div class="large-12 columns">
                        <p>Nombre</p>
                        <div class="stat">{{vm.course.courseName}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <p>Clasificación</p>
                        <div class="stat">{{vm.course.classification}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <p>Área</p>
                        <div class="stat">{{vm.course.area}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
        </div>
    </div>
</div>