<div id="schools" ng-controller="SchoolsController as vm">
    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li>
                    <span class="show-for-sr">Current: </span> Instituciones
                </li>
            </ul>
            <hr>
            <h1>Instituciones</h1>
            <a class="button" href="#!/schools/create">
                Crear Institución
            </a>
            <table>
                <thead>
                    <tr>                        
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Tipo</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="school in vm.schools">
                        <td><a href="" ng-click="vm.selectSchool(school)">{{school.name}}</a></td>                        
                        <td>{{school.address}}</td>
                        <td>{{school.type.label}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>