<div id="detail-interview" ng-controller="InterviewDetailController as vm">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#!/interviews">Entrevistas</a></li>
            <li>
                <span class="show-for-sr">Current: </span> Detalle entrevista
            </li>
        </ul>
        <h1>Detalle Entrevista <small>{{vm.interview.id}}</small></h1>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <div class="callout">
                <div class="row">
                    <div class="large-12 columns">
                        <p>Fecha y Hora</p>
                        <div class="stat">{{vm.interview.momentDate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <p>Capacidad</p>
                        <div class="stat">{{vm.interview.capacity}} Personas</div>
                    </div>
                    <div class="large-6 columns">
                        <p>Duración</p>
                        <div class="stat">{{vm.interview.duration}} Minutos</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="interviewed in vm.interview.interviewed track by $index">
                        <td>{{interviewed}}</td>
                        <td>Diego</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>